
/* reset des marges pour éviter des conflits avec celles automatiquement
/* générées par le navigateur */
* {
    margin: 5px;
    padding: 2px;
}
h3   {
    color: blue;
}
.generalites {
    border : 5px solid
}
.container {
    background-image: url("");
}
.box {
    border: blue;
    width: 2em;
    height: 2em;
}
.carre {
    border: yellowgreen;
    width: 100px;
    height: 100px;
}