
* {
    margin: 0px;
    padding: 0px;
}
h1   { 
    color: black;
    text-align: center; 
}
h2   {     
    color: blue;   
    text-align: center; 
    } 
h3 {
    text-align: center;
}
header {
    border: 2px solid blue;
    min-height: 15px;
    font-size: 1em;
    /*padding: 1em;*/
    background-color: blue;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
}
.container {
    /*width: 100px;
    /*max-width: 100px;*/
    font-size: 1em;
    padding: 1em;
    margin: 5px;
    /*border:2px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*flex-grow: 1;*/
    /* align-items: flex-start; */
    align-content: center;
    flex-direction: column;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; 
    
}

.Presentation {
    /*border: 2px solid blue;*/
    /*width: 400px;
    min-height: 400px;*/
    font-size: 1em; 
    padding: 1em;
    /*background-color: turquoise;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; */
    
    align-content: center ;
}
/*p {
    display: inline-block;
}*/
.texte-present {    
    border: 2px solid blue;
    width: 300px;
    min-height: 300px;
    font-size: 1em;
    padding: 1em;
    margin: 20px;
    background-color: turquoise;
}     
.texte-fin{
    border: 2px solid blue;
    width: 300px;
    min-height: 300px;
    font-size: 1em;
    padding: 1em;
    margin: 20px;
    background-color: turquoise;
 }                                                                                                                                                                             
.produits  {
    border: 2px solid blue;
    width: 300px;
    min-height: 300px;
    /*font-size: 2em;*/
    padding: 1em;
    margin: 20px;
    background-color: turquoise;
    /* display: flex; */
}
img{
    max-width: 100%;
    max-height: 100%;
}
.contact  {
    border: 2px solid blue;
    min-height: 100px;
    width: 100%;
    font-size: 1em;
    padding: 1em;
    background-color: royalblue;
    flex-grow: 1;
}
.bandeau {
    border: 2px solid blue;
    min-height: 100px;
    width: 100%;
    font-size: 1em;
    padding: 1em;
    background-color: blueviolet;
    /*:font-weight: 100;*/
    flex-grow: 1;
    
}
.footpage {
    background-color: blue;
    font-weight: 700;
    min-height: 50px;
    flex-grow: 1;
}
.carre {
    border: yellowgreen;
    width: 100px;
    height: 100px;
}